a {
  color: #685807; }

body, html {
  text-align: center;
  background: #F1D130; }

input, select, button {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }

header {
  padding: 2em; }
  header h1 {
    font-family: "Kaushan Script", cursive;
    display: inline-block;
    border-bottom: 0.1em solid #685807;
    padding-bottom: 0.2em;
    font-size: 3rem; }
    header h1 a:hover, header h1 a:focus {
      cursor: pointer;
      color: inherit;
      text-decoration: none; }
  header .choose-minute-mode {
    position: absolute;
    right: 1em;
    top: 1em; }
    header .choose-minute-mode #choose-minute-mode {
      background: inherit;
      border: 1px solid #685807;
      display: inline-block;
      color: #685807;
      width: auto;
      margin-left: 0.5em; }
  header .choose-hour-mode {
    position: absolute;
    right: 1em;
    top: 4em; }
    header .choose-hour-mode #choose-hour-mode {
      background: inherit;
      border: 1px solid #685807;
      display: inline-block;
      color: #685807;
      width: auto;
      margin-left: 0.5em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

.btn:hover {
  cursor: pointer; }

.btn-default {
  background: #dfbc0f;
  color: #685807;
  transition: all 0.3s ease; }
  .btn-default:hover, .btn-default:active {
    color: black;
    background: #c7a80d; }

.btn-group .btn-default {
  border: 1px solid #F1D130; }

#own-input {
  margin-bottom: 4em; }
  #own-input button#play-current-time {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-family: "Kaushan Script", cursive; }

.time-input {
  font-size: 2em;
  width: 2em;
  border: none;
  background: white;
  border-bottom: 0.1em solid #685807;
  text-align: center;
  color: #685807;
  padding: 0 0.3em; }
  .time-input + span {
    font-size: 2em; }

select.time-input {
  padding: 0 0.4em;
  -webkit-appearance: none;
  border-radius: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

input[disabled] {
  opacity: 0.8; }

#learn-content {
  /*display: none;*/
  margin: 1em .5em;
  padding: 1em;
  background: #fbf1bf;
  box-shadow: 0 0 1px #af940c; }
  #learn-content h2 {
    margin: 0.5em 0 1em; }
  #learn-content .start-button {
    width: 100%;
    font-size: 1.5em;
    font-family: "Kaushan Script", cursive; }
  #learn-content a.single-step-next, #learn-content a.single-step-previous {
    display: block; }
  #learn-content a.single-step-next:after, #learn-content a.single-step-previous:before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-top: .4em solid transparent;
    border-bottom: .4em solid transparent; }
  #learn-content a.single-step-next.link-disabled {
    pointer-events: none; }
    #learn-content a.single-step-next.link-disabled:after {
      opacity: 0.3; }
  #learn-content a.single-step-next:after {
    border-left: 0.5em solid #685807;
    margin-left: .2em; }
  #learn-content a.single-step-previous:before {
    border-right: 0.5em solid #685807;
    margin-right: .2em; }
  #learn-content .learn-step-description select#select-higher-hour, #learn-content .learn-step-description select#select-hour, #learn-content .learn-step-description input#select-minutes {
    display: inline-block;
    width: auto;
    margin-right: 1em;
    text-align: center; }
    #learn-content .learn-step-description select#select-higher-hour + .btn-default, #learn-content .learn-step-description select#select-hour + .btn-default, #learn-content .learn-step-description input#select-minutes + .btn-default {
      margin-top: -0.1em; }
  #learn-content .learn-step-description .chromatic select#select-hour {
    width: 100%;
    margin-bottom: 1em;
    text-align: center; }
  #learn-content .learn-step-description .minute-description, #learn-content .learn-step-description .hour-description {
    padding: 1em;
    margin-bottom: 1em; }
  #learn-content .learn-step-description .minute-description {
    border-right: 0.3em solid #685807; }
    #learn-content .learn-step-description .minute-description > ul {
      list-style: none;
      padding: 0; }
    #learn-content .learn-step-description .minute-description .btn-group-vertical {
      margin-bottom: 1em; }
  #learn-content .clock-image .clock-time {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0; }
    #learn-content .clock-image .clock-time > span {
      padding: 0.5em 0;
      width: 2.5em;
      display: inline-block;
      background: white;
      margin: 0 0.2em;
      color: #685807; }
  #learn-content .clock-image svg {
    max-width: 100%;
    width: 400px;
    height: 400px;
    transition: opacity 1s ease; }
    #learn-content .clock-image svg.hide-clock-hands .clock-hand {
      opacity: 0; }
    #learn-content .clock-image svg .clock-hand {
      transform: rotateZ(0);
      transform-origin: bottom;
      transition: transform 1s ease; }
  #learn-content .guess > div {
    text-align: center;
    margin-bottom: 1em; }
  #learn-content .guess .error-no-input {
    display: none; }
  #learn-content .guess.minute-mode-minutes select#quarters {
    display: none; }
  #learn-content .guess.minute-mode-quarters input#minutes {
    display: none; }
  #learn-content .guess button#guess {
    transition: background-color 0.3s linear;
    margin-top: 1em; }
    #learn-content .guess button#guess svg {
      width: 1.5em;
      position: absolute;
      top: 1.45em;
      right: 1.5em; }
      #learn-content .guess button#guess svg .circ {
        opacity: 0;
        stroke-dasharray: 130;
        stroke-dashoffset: 130;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
    #learn-content .guess button#guess .tick, #learn-content .guess button#guess .cross {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
      -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
      -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
      -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
      -o-transition: stroke-dashoffset 1s 0.5s ease-out;
      transition: stroke-dashoffset 1s 0.5s ease-out; }
    #learn-content .guess button#guess.btn-success:focus {
      background-color: #5cb85c;
      border-color: #5cb85c;
      color: white;
      box-shadow: none; }
    #learn-content .guess button#guess.btn-success .circ, #learn-content .guess button#guess.btn-success .tick {
      opacity: 1;
      stroke-dashoffset: 0; }
    #learn-content .guess button#guess.btn-danger:focus {
      background-color: #d9534f;
      border-color: #d9534f;
      color: white;
      box-shadow: none; }
    #learn-content .guess button#guess.btn-danger .circ, #learn-content .guess button#guess.btn-danger .cross {
      opacity: 1;
      stroke-dashoffset: 0; }
    #learn-content .guess button#guess:disabled {
      opacity: 0.8; }
  #learn-content .stats ul {
    padding: 0;
    list-style: none;
    margin: 1.5em 0; }
    #learn-content .stats ul .single-step {
      height: 3em; }
      #learn-content .stats ul .single-step a {
        display: block;
        width: 100%;
        line-height: 3em;
        background: white;
        border-bottom: 0.3em solid;
        transition: background 0.3s ease; }
        #learn-content .stats ul .single-step a:hover {
          background: #F1D130;
          text-decoration: none; }
        #learn-content .stats ul .single-step a.correct {
          border-color: #5cb85c; }
        #learn-content .stats ul .single-step a.not-correct {
          border-color: #d9534f; }
        #learn-content .stats ul .single-step a.not-finished {
          border-color: #685807; }
    #learn-content .stats ul + p {
      font-weight: bold; }
  #learn-content .stats > div {
    margin: 1em 0 2em; }
    #learn-content .stats > div .congrats {
      font-style: italic; }

ul.learn-steps {
  padding: 0;
  list-style: none; }
  ul.learn-steps li.learn-step-item {
    box-shadow: 0 0 1px #af940c;
    background: white;
    margin: 0 .5em;
    padding: 0; }
    ul.learn-steps li.learn-step-item a {
      display: block;
      min-height: 12em;
      padding: 1em;
      position: relative; }
      ul.learn-steps li.learn-step-item a:hover, ul.learn-steps li.learn-step-item a:active, ul.learn-steps li.learn-step-item a:focus {
        text-decoration: none;
        color: inherit;
        box-shadow: 0 0 3px #af940c inset; }
      ul.learn-steps li.learn-step-item a .bottom {
        position: absolute;
        bottom: 2em;
        width: 80%;
        left: 10%; }
